<div class="wrapper">
    <div class="card">
        <!-- <div class="card-header">
            <h3>Task Name</h3>
        </div> -->
        <div class="card-body">
            <div class="form-group">
                <h3>{{task.name}}</h3>
            </div>

            <div class="form-group">
                <label for="priority">{{ task.priority.name }}</label>
            </div>
            <div class="form-group">
                <label for="status">{{ task.status.name }}</label>
            </div>
            <div class="form-group">
                <label for="projectTaskCategory">{{ task.projectTaskCategory.name }}</label>
            </div>
            <button>Show details</button>

        </div>
    </div>
</div>
