<div class="wrapper">

  <!-- <div class="editProfilContainer">
    <button class="editUserButton">Tilbage</button>
  </div> -->

  <div class="userInfoWrapper">
    <div class="userInfo">

      <div class="userLabel">
        <label>Brugernavn: </label>
        <label>Fornavn: </label>
        <label>Efternavn: </label>
        <label>Afdeling: </label>
        <label>Oprettet: </label>
      </div>
        <form class="userInput" [formGroup]="detailsForm">

          <input type="text" placeholder="Username" disabled >
          <input type="text" placeholder="firstName" formControlName="firstName">
          <input type="text" placeholder="Lastname" formControlName="lastName">
          <select type="text" placeholder="Department" formGroupName="departmentsForm">
            <option value="">Vælg en afdeling</option>
            <option *ngFor="let department of departments" formControlName="name">{{department.name}}</option>
          </select>
          <input type="text" placeholder="Creation Date" disabled>
        </form>
    </div>

    <div class="saveButton">
      <button class="saveUserButton">Gem</button>
    </div>
  </div>
</div>