
.content{
    display: flex;
    flex-direction: column;
}

.main-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.header-section{

}


.footer-section{

    position: absolute;
    bottom: 0;
    width: 100%;

}