

<section class="midtContainer">            
        
        <div class="content-left">
            <h2>Samarbejd effektivt på dine projekter</h2>
            <p>PM Tools er et kraftfuldt projektstyringsværktøj, der hjælper teams med at planlægge, organisere
                og udføre deres arbejde mere effektivt.</p>
            <ul class="benefits">
                <li>Forbedret kommunikation og samarbejde</li>
                <li>Øget produktivitet og effektivitet</li>
                <li>Forbedret projektstyring og kontrol</li>
                <li>Forenklet rapportering og analyse</li>
            </ul>
            <a href="" class="button">Få PM Tools gratis</a>

            <section class="catch-phrase">
                <div class="container">
                    <p>Samarbejd Smartere <br>Opnå Mere</p>
                </div>
            </section>

        </div>
        <div class="content-right">
            <img src="../../../assets/projectmanagerapp.jpg" alt="Project management illustration" priority>
        </div>
    
</section>



        
