

<body>
    <header>
        <div class="container">
            <div class="top-bar">
                <h1 class="logo">PM Tools</h1>
                <nav>
                    <ul>
                        <li><a href="">Login</a></li>
                        <li><a href="">Opret bruger</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="midtContainer">            
                
                <div class="content-left">
                    <h2>Samarbejd effektivt på dine projekter</h2>
                    <p>PM Tools er et kraftfuldt projektstyringsværktøj, der hjælper teams med at planlægge, organisere
                        og udføre deres arbejde mere effektivt.</p>
                    <ul class="benefits">
                        <li>Forbedret kommunikation og samarbejde</li>
                        <li>Øget produktivitet og effektivitet</li>
                        <li>Forbedret projektstyring og kontrol</li>
                        <li>Forenklet rapportering og analyse</li>
                    </ul>
                    <a href="" class="button">Få PM Tools gratis</a>
                </div>
                <div class="content-right">
                    <img src="../../../assets/projectmanagerapp.jpg" alt="Project management illustration">
                </div>
            
        </section>

        <section class="catch-phrase">
            <div class="container">
                <p>"Samarbejd smartere, opnå mere"</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>© 2024 JSD Corporation. Alle rettigheder forbeholdes.</p>
        </div>
    </footer>
</body>

