<div class="container">
    <div class="h2-collapsbutton-container">
        <div>
            <h2>{{ heading }}</h2>
        </div>
        <div><button class="collapse-button" (click)="toggleVisibility()">
                {{ isCollapsed ? 'Expand' : 'Collapse' }} [-]
            </button></div>
    </div>

    <ul *ngIf="!isCollapsed">
        <li class="li-container" *ngFor="let entity of entityList">
            <form class="editForm" [formGroup]="editForm" (ngSubmit)="editButton(entity)">
                <div class="editLabelColumn">
                    <label class="span-name" for="editName"> {{ entity.name }}</label>
                </div>

                <div class="editInputColumn">
                    <input class="editInput" id="editName" *ngIf="isEditing === entity" type="text" name="newName"
                        formControlName="newName" />
                </div>

                <div class="buttons-container">
                    <button *ngIf="!isEditing" (click)="editButton(entity)">Edit</button>
                    <button *ngIf="isEditing === entity" (click)="saveButton(entity)">Save</button>
                    <button class="delete-button" (click)="deleteButton(entity)">Delete</button>
                </div>
            </form>
        </li>
    </ul>

    <div class="register-container">
        <h3>{{ addEntityHeading }}</h3>
        <form class="register-form" [formGroup]="registerForm" (ngSubmit)="addButton()">
            <div class="reg-columns-container">
                <div class="reg-label-column">
                    <label for="name">{{ labelName }}</label>
                </div>
                <div class="reg-input-column">
                    <input type="text" id="regName" name="name" class="form-control" formControlName="name"
                        placeholder="Name" required />
                </div>
            </div>
            <div class="reg-button-container">
                <button class="add-button" type="submit">{{ addButtonText }}</button>
            </div>
        </form>
    </div>

</div>