

<div class="form-container">

    <form action="" class="create-form" [formGroup]="projectForm" (ngSubmit)="create()">
        <h1>Opret Project</h1>
        <div class="form-group">
            <label >Navn</label>
            <input type="text" formControlName="name" required placeholder="Projekt Navn">
            <label>Start Dato</label>
            <input type="date" required formControlName="startDate">
            <label>Slut Dato</label>
            <input type="date" required formControlName="endDate">
                <label>Status</label>
                <select formGroupName="statusIndex">
                        <option [ngValue]="" disabled selected>Vælg en status</option>
                        <option *ngFor="let item of statusList; let i = index" [ngValue]="i" >{{item.name}} </option>
                </select>
                <label>Kategori</label>
                <select formGroupName="categoryIndex">
                    <option [ngValue]="" disabled selected>Vælg en kategori</option>
                    <option *ngFor="let item of categoryList; let i = index" [ngValue]="i">{{item.name}}</option>
                </select>
                <label>Prioritet</label>
                <select formGroupName="priorityIndex">
                    <option [ngValue]="" disabled selected>Vælg en prioritet</option>
                    <option *ngFor="let item of priorityList; let i = index" [ngValue]="i">{{item.name}}</option>
                </select>
        </div>
        <div class="button-group">
            <button class="cancel" type="reset" routerLink="/project-dashboard">Cancel</button>
            <button class="submit" type="submit">Submit</button>
        </div>

    </form>
</div>