
.wrapper{
    /* margin: 20px; */
    width: 100vw;
}

.overview{
    display: flex;
    
}

.title{
    flex: 1;
    display: flex;

}

.create{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search-form{
    /* margin: 20px 0; */

}

.search-form input{
    padding: 10px;
}

.search-input{
    height: 35px;
    border-radius: 10px;
    font-size: large;
}


.project-sort{
    display: flex;
    justify-content: space-between;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 40px;
}


.grid-item {
    margin: 20px 0;
}

.grid-item i{
    cursor: pointer;
}

.grid-item p{
    margin-left: 2px;
}