.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
  }
  

  .task-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 10px;
  }

  .task-form input{

    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }

  .task-form label{
    margin: 10px 0;
  }

  .task-form select{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }


  .task-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    margin: 10px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
  
  }
  
  .cancel{
    background-color: rgb(255, 0, 0);
  }
  
  .cancel:hover{
    background-color: #b10000;
  }
  
  
  .ng-invalid.ng-touched input:not(.ng-untouched):not(.ng-valid){
    border: 1px solid red;
  }

.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;

}


