
.h2-collapsbutton-container{
    display: flex;
    justify-content: space-between;
}

.collapse-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #727272;    
    cursor: pointer;
}

.li-container{    
    margin: 10px;
    padding: 0px 5px;      
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editForm{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
}
.editLabelColumn{
    display : flex;
    flex-direction: column;    
}

.editInputColumn{
    display : flex;
    flex-direction: column;
}


.edit-Button-container{
    display: flex;
    justify-content: flex-end;
}

.editLabel, .editInput{
    margin-bottom: 5px;    
}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.add-button{
    background-color: #2ECC71;    
}

.update-button{
    background-color: #2A8FFF;
}

.delete-button{
    background-color: #f44336;
}


.register-container h3{
    margin: 10px 0px;    
}

.register-columns-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;    
}

.register-label-column{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.register-input-column{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.register-container label, input{
    margin-bottom: 5px;
}

.button-column{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}