
.department-li-container{    
    margin: 10px;
    padding: 0px 5px;      
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.add-button{
    background-color: #2ECC71;
}

.update-button{
    background-color: #2A8FFF;
}

.delete-button{
    background-color: #f44336;
}

.collapse-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;    
    cursor: pointer;
}

.h2-collapsbutton-container{
    display: flex;
    justify-content: space-between;
}

.editInput{
    margin: 5px;
    padding: 3px;
}
