<div class="container">
    <div class="h2-collapsbutton-container">
        <h2>Afdelinger</h2>
        <button class="collapse-button" (click)="toggleVisibility()">
            {{ isCollapsed ? 'Expand' : 'Collapse' }} [-]
        </button>
    </div>

    <ul *ngIf="!isCollapsed">
        <li class="li-container" *ngFor="let department of entityList">
            <div class="info-container">
                <span class="span-name">{{ department.name }}</span>
                <input class="editInput" *ngIf="isEditing === department" type="text" [(ngModel)]="department.name" />

            </div>
            <div class="buttons-container">
                <button *ngIf="!isEditing" (click)="editButton(department)">Edit</button>
                <button *ngIf="isEditing === department" (click)="saveButton(department)">Save</button>  <button class="delete-button" (click)="deleteButton(department)">Delete</button>

            </div>
        </li>
    </ul>

    <h3>Tilføj Afdeling</h3>
    <form (ngSubmit)="addButton()">
        <label for="name">Afdelings navn:</label>
        <input type="text" id="name" name="name" [(ngModel)]="newEntity.name" required>
        <button class="add-button" type="submit">Tilføj Afdeling</button>
    </form>
</div>