<div class="container">
    <div class="h2-collapsbutton-container">
        <h2>{{ heading }}</h2>
        <button class="collapse-button" (click)="toggleVisibility()">
            {{ isCollapsed ? 'Expand' : 'Collapse' }} [-]
        </button>
    </div>

    <ul *ngIf="!isCollapsed">
        <li class="li-container" *ngFor="let entity of entityList">
            <div class="info-container">
                <span class="span-name">{{ entity.name }}</span>
                <input class="editInput" *ngIf="isEditing === entity" type="text" [(ngModel)]="entity.name" />
                <br>

                <span class="span-name">{{ entity.level }}</span>
                <input class="editInput" *ngIf="isEditing === entity" type="text" [(ngModel)]="entity.level" />
            </div>

            <div class="buttons-container">
                <button *ngIf="!isEditing" (click)="editButton(entity)">Edit</button>
                <button *ngIf="isEditing === entity" (click)="saveButton(entity)">Save</button> <button
                    class="delete-button" (click)="deleteButton(entity)">Delete</button>

            </div>
        </li>
    </ul>

    <!-- <h3>{{ addEntityHeading }}</h3>
    <form [formGroup]="priorityRegisterForm" (ngSubmit)="addButton()">
        <div class="columnContainer">
            <div class="labelColumn">
                <label for="name">{{ labelName }}</label>
                <label for="name">{{ labelLevel }}</label>
            </div>
            <div class="inputColumn">
                <input type="text" id="name" name="name" [(ngModel)]="newEntity.name" required>
                <input type="text" id="name" name="name" [(ngModel)]="newEntity.level" required>
            </div>
        </div>
        <div class="buttonColumn">
            <button class="add-button" type="submit">{{ addButtonText }}</button>
        </div>
    </form> -->
</div>