

<!-- in user dashboard we can se an overview of projects we have created and projects we are a part of -->


<div class="container">

    <h2>OWN PROJECTS</h2>

    <div class="own-projects project-container" *ngFor="let project of ownProjects">

        <app-project class="project-card"></app-project>

    </div>
        
    <h2>OTHERS PROJECTS</h2>

    <div class="others-projects project-container" *ngFor="let project of othersProjects">

        <app-project class="project-card"></app-project>

    </div>
</div>
