<div class="wrapper">
   <div class="container">
      <div class="title-container">
         <h1 class="title">{{project.name}}</h1>
      </div>
      <div class="table-container">
         <div class="table-container-left">
            <div class="table-container-left-title">
               <h2>Details</h2>
            </div>
            <div class="table-container-left-details">
               <div class="table-container-left-details-left">
                  <p>Timespan:</p>
                  <p>Status:</p>
                  <p>Category:</p>
                  <p>Priority:</p>
                  <p>Client:</p>
                  <p>Owner:</p>
                  <p>Department:</p>
               </div>
               <div class="table-container-left-details-right">
                  <p>{{project.startDate.toDateString()}} - {{project.endDate.toDateString()}}</p>
                  <p class="status">{{project.status.name}}</p>
                  <p class="category">{{project.category.name}}</p>
                  <p class="priority">{{project.priority.name}}</p>
                  <p class="client">{{project.client.name}}</p>
                  <p class="owner">{{owner.firstName}} {{owner.lastName}}</p>
                  <ul *ngFor="let item of project.department">
                     <li>{{item.name}}</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="table-container-right">
            <div class="table-container-right-title">
               <h2>Team Members</h2>
            </div>
            <div class="table-container-right-details">
               <ul *ngFor="let user of project.user">
                  <li>{{user.username}}</li>
               </ul>
            </div>
         </div>
      </div>
      <button>Edit</button>
   </div>   
</div>
<br>
<hr>
<div class="task-section">

   <div class="task" *ngFor="let i of project.tasks">
      <app-task [task]="i"></app-task>
   </div>
   <div class="plus-icon" (click)="createTask()">
      <i class="fa fa-plus fa-2x" aria-hidden="true"></i><h3>Tilføj Task</h3>
   </div>
</div>

