


<div class="container">
  <h1>Opret bruger</h1>
  <form>
      <label >Brugernavn:</label>
      <input type="text" id="email" name="email" required>

      <label for="password">Adgangskode:</label>
      <input type="password" id="password" name="password" required>

      <label for="password">Gentag adgangskode:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Registrer</button>

      <button class="cancleButton" type="cancel">Anullere</button>
  </form>


</div>
