

/* Footer */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
    /* background-color: black; */
    height: 8vh;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  