<div class="head">
    <div class="head-left">

        <h1>Logo Here</h1>

    </div>
    <div class="head-middle">

        <nav class="navbar">

            <ul class="nav-list">
                <li ><a href="">list item x</a></li>
                <li ><a href="">list item x</a></li>
                <li ><a href="">list item x</a></li>
            </ul>

        </nav>

    </div>
    <div class="head-right">

        <div class="button-group">
            <button class="login">Login</button>
            <button class="signup">Sign up</button>
        </div>

    </div>

</div>